---
layout: default
title: Field Work
permalink: /fieldwork/
---

<h1>Field Work</h1>

<p>One of the best ways to study other planets is to study our own. There are places all over the Earth that have similar qualities to Mars, Titan, Europa, and other bodies. I am learning field techniques wherever I can so I can be prepared to study some of these ‘analogues’ in the near future!</p>

<div class="gallery-masonry">
    {% for image in site.static_files %}
        {% if image.path contains '/assets/images/fieldwork' %}
            <img src="{{ image.path }}" alt="fieldwork">
        {% endif %}
    {% endfor %}
</div>